<template>
  <div :class="$style.container" dir="ltr">
    <form>
      <div :class="$style.body">
        <div :class="$style.choices">
          <h3 :class="$style.heading" dir="ltr">
            Alternatives for
            <span dir="rtl" :class="$style.farsi">{{ item.word }}</span>
          </h3>

          <label :class="$style.description"
            >Please select the correct transliteration according to your
            understanding, or provide your own one below.</label
          >

          <ul :class="$style.list">
            <li v-for="word in item.translit" :class="$style.item">
              <label :class="$style.label"
                ><input
                  type="radio"
                  name="correction"
                  :value="word"
                  v-model="correction"
                />
                <span :class="$style.translit">{{ word }}</span></label
              >
            </li>
            <li :class="$style.item">
              <input
                type="radio"
                name="correction"
                value="$$text"
                v-model="correction"
                @change="textCorrectionSelected"
              />
              <input
                type="text"
                name="text-correction"
                ref="textCorrection"
                placeholder="Own suggestion"
                v-model="textCorrection"
                :class="$style.textInput"
                @focus="textCorrectionSelected"
              />
            </li>
          </ul>
        </div>

        <lookup-item :lemmata="lemmata" />
      </div>

      <ul :class="$style.footer">
        <li :class="$style.leftFooterItem">
          <button :class="$style.discardButton" @click="discardClicked">
            Discard
          </button>
        </li>
        <li :class="$style.leftFooterItem">
          <button :class="$style.button" @click="handleListen">
            Play Verse
          </button>
        </li>
        <li :class="$style.footerItem">
          <button :class="$style.saveButton" @click="saveClicked">Save</button>
        </li>
      </ul>
    </form>
  </div>
</template>
<script>
import LookupItem from './LookupItem.vue'
import { findLemmata } from '../morphology'

export default {
  name: 'correction',
  props: ['item', 'verseId'],
  components: { LookupItem },

  data: function() {
    return {
      lemmata: findLemmata(this.item.word),

      correction: this.item.translit[0],
      textCorrection: '',
    }
  },

  methods: {
    discardClicked(event) {
      event.preventDefault()
      this.$emit('close')
    },

    saveClicked(event) {
      event.preventDefault()

      const transliteration =
        this.correction === '$$text' ? this.textCorrection : this.correction

      this.$store.commit('addTransliteration', {
        verseId: this.verseId,
        word: this.item.word,
        transliteration,
      })

      this.$emit('close')
    },

    textCorrectionSelected: function() {
      if (
        this.correction === '$$text' &&
        this.$refs.textCorrection !== document.activeElement
      ) {
        this.$refs.textCorrection.focus()
      } else if (
        this.correction !== '$$text' &&
        this.$refs.textCorrection === document.activeElement
      ) {
        this.correction = '$$text'
      }
    },

    handleListen(event) {
      this.$emit('listen', event, this.verseId)
    },
  },
}
</script>
<style module>
.container {
  display: flex;
  flex-flow: column;

  margin: 25px;
  border-radius: 3px;
  overflow: hidden;

  background: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.body {
  display: flex;
  flex-flow: row;
}

.choices {
  box-sizing: border-box;
  padding: 10px;
}

.heading {
  margin: 0 0 10px;
  padding: 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 100%;

  cursor: default;
}

.farsi {
  direction: rtl;
  text-align: right;
  font-family: 'Samim';
}

.description {
  display: block;
  max-width: 400px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}

.list {
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  margin: 15px;
  padding: 0;
  list-style: none;
}

.item {
  display: inline-block;
  width: 100%;
  margin: 0 0 2px;

  font-size: 16px;
  font-size: 16px;
  line-height: 100%;
}

.item:last-child {
  margin-bottom: 0;
}

.translit {
  display: inline-block;
  margin: 5px;
}

.label {
  margin: 0;
  padding: 0;

  font-weight: 500;
}

.textInput {
  display: inline-block;
  box-sizing: border-box;

  width: 100%;
  max-width: 200px;
  min-width: 100px;

  border: 1px solid #ddd;
  border-radius: 3px;

  padding: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 100%;

  color: rgb(50, 50, 50);
}

.textInput:focus {
  border-color: rgb(180, 180, 250);
  color: black;
}

.footer {
  display: flex;
  flex-flow: row;
  align-self: flex-end;

  box-sizing: border-box;
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 8px 10px;

  background: rgb(240, 240, 240);
}

.footerItem {
  align-self: flex-end;
  margin: 0 10px 0 0;
  padding: 0;
}

.footerItem:last-child {
  margin-right: 0;
}

.leftFooterItem {
  composes: footerItem;
  align-self: flex-start;
  margin-right: auto;
}

.button {
  display: inline-block;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
  padding: 8px 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 100%;

  cursor: pointer;
}

.discardButton {
  composes: button;
  border-color: transparent;
  background: rgb(250, 30, 30);
  color: white;
}

.saveButton {
  composes: button;
  border-color: transparent;
  background: rgb(30, 200, 30);
  color: white;
}
</style>
