<template>
  <header :class="$style.header">
    <h1 :class="$style.title">Mediating Hafez</h1>
  </header>
</template>

<script>
export default {
  name: 'header-bar',
}
</script>

<style module>
.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  box-sizing: border-box;
  border-bottom: 1px solid rgb(230, 230, 230);
  padding: 5px;

  background: rgb(245, 245, 245);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.title {
  margin: 0;
  padding: 10px;

  font-family: 'Playfair Display', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;

  white-space: nowrap;
  cursor: default;
}
</style>
