<template>
  <div>
    {{ hlist }}

    <b-table striped hover :items="items"></b-table>

    <table>
      <tr
        v-for="item in new_items"
        v-if
        :key="item.verseId"
        :verseId="item.verse"
      >
        <td class="verseId">{{ item.verse }}</td>
        <td class="persian">
          <word
            v-for="word in item.persian"
            :id="word.id"
            :wordId="word.wordid"
            :wordType="word.type"
            :key="word.id"
            v-on:mouseover="mouseover"
            v-on:mouseleave="mouseleave"
          >
            {{ word.text }}
          </word>
        </td>
        <td class="transcript">
          <word
            v-for="word in item.transcript"
            :id="word.id"
            :wordId="word.wordid"
            :wordType="word.type"
            :key="word.id"
            v-on:mouseover="mouseover"
            v-on:mouseleave="mouseleave"
          >
            {{ word.text }}
          </word>
        </td>
        <td class="translation">
          <word
            v-for="word in item.translation"
            :id="word.id"
            :wordId="word.wordid"
            :wordType="word.type"
            :key="word.id"
            v-on:mouseover="mouseover"
            v-on:mouseleave="mouseleave"
          >
            {{ word.text }}
          </word>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import {
  content,
  createTableFromContent,
  createTable2FromContent,
} from '../util'

const tableContent = createTableFromContent()
const table2Content = createTable2FromContent()

export default {
  name: 'legacy',

  data() {
    return {
      items: tableContent,
      raw: content,
      new_items: table2Content,
      hlist: [],
    }
  },

  methods: {
    mouseover: function(event) {
      // console.log(event.target.getAttribute("id"));
      this.hlist.push(event.target.getAttribute('id'))
      var verseId = event.target.parentElement.parentElement.getAttribute(
        'verseId'
      )
      var type = event.target.getAttribute('wordtype')
      var wordId = event.target.getAttribute('wordId')

      var verseObj = content.filter(x => x.verseId == verseId)
      // console.log(verseObj);
      // console.log(verseObj[0][type][wordId]);
      var wordObj = verseObj[0][type][wordId]

      /* for (var key in wordObj) {
          console.log(key)
        } */
    },

    mouseleave: function(event) {
      // console.log(event.target.getAttribute("id"));
      var id = event.target.getAttribute('id')
      this.hlist = []
    },
  },
}
</script>

<style>
verse-header,
verse {
  width: auto;
  display: block;
}
</style>
