<template>
  <div>
    <router-link to="/">Introduction</router-link>
    <router-link to="/poem">Read Poem</router-link>
    <router-link to="/register">Register</router-link>
    <br />

    <p>username:</p>
    <input v-model="username" type="text" placeholder="username" />

    <p>password:</p>
    <input v-model="password" type="password" placeholder="password" />
    <br />
    <button v-on:click="login">login</button>
  </div>
</template>

<script>
export default {
  name: 'login',

  data() {
    return {
      username: '',
      password: '',
    }
  },

  methods: {
    login() {
      // send request to server
    },
  },
}
</script>
