<template>
  <div :class="$style.lookup">
    <h3 :class="$style.heading">Dictionary</h3>
    <ul :class="$style.list">
      <li v-for="lemma in lemmata" :class="$style.item">
        <a
          :href="`https://www.vajehyab.com/?q=${encodeURIComponent(lemma)}`"
          target="_blank"
          :class="$style.link"
          >{{ lemma }}</a
        >
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'lookup-item',
  props: ['lemmata'],
}
</script>

<style module>
.lookup {
  justify-self: flex-end;
  width: 150px;

  box-sizing: border-box;
  border-left: 1px solid #eee;
  padding: 10px;

  background: rgb(250, 250, 250);
}

.heading {
  margin: 0 0 10px;
  padding: 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 100%;

  cursor: default;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  margin: 0;
  padding: 0;
}

.link {
  direction: rtl;
  text-align: right;
  font-family: 'Samim';
}
</style>
