<template>
  <transition name="fade">
    <div :class="$style.overlay" v-if="displayed" @click="handleContainerClick">
      <div @click="handleWrapperClick"><slot /></div></div
  ></transition>
</template>

<script>
export default {
  name: 'modal',
  props: ['displayed'],

  mounted: function() {
    if (this.displayed) {
      document.querySelector('body').style.overflow = 'hidden'
    }
  },

  updated: function() {
    if (this.displayed) {
      document.querySelector('body').style.overflow = 'hidden'
    } else {
      document.querySelector('body').style.overflow = 'auto'
    }
  },

  beforeDestroy: function() {
    document.querySelector('body').style.overflow = 'auto'
  },

  methods: {
    handleContainerClick: function(event) {
      event.preventDefault()
      this.$emit('hide')
    },

    handleWrapperClick: function(event) {
      event.stopPropagation()
    },
  },
}
</script>

<style module>
.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 50;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.3);
}
</style>
