<template>
  <div :class="$style.container">
    <div :class="$style.controlContainer">
      <div :class="$style.controlWrapper">
        <label :class="$style.label">Audio</label>

        <span @click="play" :class="$style.interaction"
          ><img src="../icons/play.svg" :class="$style.icon"
        /></span>

        <span @click="pause" :class="$style.interaction"
          ><img src="../icons/pause.svg" :class="$style.icon"
        /></span>
      </div>
    </div>

    <div :class="$style.poem">
      <ul :class="$style.verseList">
        <li
          v-for="(verse, index) in verses"
          :key="verse.id"
          :class="$style.verseItem"
        >
          <verse-item
            :verse="verse"
            :is-current-verse="currentVerse === index"
            :current-word="currentWord"
            @listen="handleListen"
          />
        </li>
      </ul>
    </div>

    <footer :class="$style.footerContainer">
      <div class="mx-auto w-75" :class="$style.footerWrapper">
        <b-alert variant="danger" dismissible v-model="submissionError">
          There was an error while submitting your data. Please try again in a
          few moments. Data is stored locally as long as the current tab is kept
          open.
        </b-alert>

        <div :class="$style.footerActions">
          <b-button
            variant="outline-primary"
            :class="$style.button"
            @click="handleBack"
            >Back</b-button
          >

          <em :class="$style.progressIndicator"
            >You added {{ submittedTransliterations }} of
            {{ ambiguations }} corrections.</em
          >

          <b-button
            type="submit"
            variant="primary"
            :class="$style.continueButton"
            @click="handleSubmit"
            >Continue</b-button
          >
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
import HeaderBar from './HeaderBar.vue'
import VerseItem from './VerseItem.vue'
import {
  playAudio,
  playAudioSingleVerse,
  pauseAudio,
  addStepHandler,
  removeStepHandler,
} from '../audio'
import { insertEntry } from '../database'
import { timeToSeconds } from '../util'
import verses from '../data/verses'

export default {
  name: 'poem',

  data() {
    return {
      playing: true,
      verses: verses,

      currentWord: -1,
      currentVerse: -1,

      submissionError: null,
    }
  },

  computed: {
    ambiguations() {
      return this.verses
        .map(verse =>
          verse.words.reduce(
            (acc, word) =>
              acc +
              (Array.isArray(word.translit) && word.translit.length > 1
                ? 1
                : 0),
            0
          )
        )
        .reduce((acc, val) => acc + val, 0)
    },

    submittedTransliterations() {
      return this.$store.state.transliterations.reduce((acc, val) => {
        if (
          !acc.find(
            verse => verse.verseId === val.verseId && verse.word === val.word
          )
        ) {
          return [...acc, val]
        } else {
          return acc
        }
      }, []).length
    },
  },

  beforeCreate() {
    if (typeof this.$store.state.profile.userage === 'undefined') {
      this.$router.push('/profile')
    }
  },

  created() {
    addStepHandler(this.handleStep)
  },

  beforeDestroy() {
    pauseAudio()
    removeStepHandler(this.handleStep)
  },

  methods: {
    handleStep(id, seek) {
      this.currentVerse = this.verses.findIndex(verse => verse.id === id)

      const currentWord = this.verses[this.currentVerse].words.findIndex(
        ({ startTime, endTime }) =>
          seek >= timeToSeconds(startTime) && seek < timeToSeconds(endTime)
      )

      if (currentWord !== this.currentWord) {
        this.currentWord = currentWord
      }
    },

    playVerse(event, verseId) {
      playAudioSingleVerse(verseId)
    },

    play(event) {
      playAudio(verses[0].id)
    },

    pause() {
      pauseAudio()
    },

    async handleSubmit() {
      const { rev, transliterations, profile, studyKey } = this.$store.state

      try {
        await insertEntry({
          modelRev: rev,
          transliterations,
          profile,
          studyKey,
        })

        this.$store.commit('resetStore')
        this.$router.push('/thank-you')
      } catch (err) {
        console.error(err)

        this.submissionError = true
      }
    },

    handleBack() {
      this.$router.push('/profile')
    },

    handleListen(verseId) {
      playAudioSingleVerse(verseId)
    },
  },

  components: { HeaderBar, VerseItem },
}
</script>

<style module>
.container {
  width: 100%;
  height: 100%;
}

.controlContainer {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 30;

  display: flex;
  justify-content: center;

  width: 100%;
}

.controlWrapper {
  box-sizing: border-box;
  margin: 15px;
  border-radius: 15px;
  padding: 13px;

  font-size: 18px;
  line-height: 18px;

  background: rgb(245, 245, 245);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: rgb(100, 100, 100);

  cursor: default;
}

.label {
  margin: 0;

  font-weight: 500;
  font-style: normal;
}

.interaction {
  cursor: pointer;
}

.icon {
  display: inline-block;
  height: 14px;
  width: auto;
}

.interaction:hover .icon {
  opacity: 0.6;
}

.poem {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  animation: 1s fade-in 2s;
}

.verseList {
  width: 950px;
}

.verseItem {
  width: 100%;
}

.footerContainer {
  position: sticky;
  left: 0;
  bottom: 0;

  width: 100%;
  box-sizing: border-box;
  margin-top: 50px;
  border-top: 1px solid rgb(230, 230, 230);
  padding: 0 10px;

  background: rgb(245, 245, 245);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.footerWrapper {
  display: flex;
  flex-flow: column;

  padding: 10px 0;
}

.footerActions {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.button {
  margin-right: 10px;
}

.progressIndicator {
  justify-self: flex-end;
  margin: 0 15px 0 auto;

  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  font-style: normal;

  cursor: default;
}

.continueButton {
  align-self: flex-end;
}
</style>
