<template
  ><div>
    <div id="content" class="w-75 mx-auto">
      <h3 :class="$style.heading">Personal Profile</h3>

      <b-form @submit="handleSubmit" @reset="handleReset">
        <b-form-group
          id="inputGroupAge"
          label="Age:"
          label-for="inputAge"
          description="Required. Please enter your age. If you don't feel comfortable with giving us your exact age, round up to decades."
        >
          <b-form-input
            id="inputAge"
            type="number"
            v-model="form.userage"
            required
            placeholder="Enter age"
            :state="ageValid"
          />
        </b-form-group>

        <b-form-group
          id="inputGroupEdu"
          label="Educational level:"
          label-for="inputEdu"
          description="Please select your educational level."
        >
          <multiselect
            id="inputEdu"
            required
            v-model="form.education"
            :options="edu_opts"
            :multiple="false"
          ></multiselect>
        </b-form-group>

        <b-form-group
          id="inputGroupL1"
          label="L1 Languages:"
          label-for="inputL1"
          description="Required. Please select the languages you speak on an L1 level. These are your first, native languages."
        >
          <multiselect
            id="inputL1"
            required
            v-model="form.l1"
            :options="lang_opts"
            :multiple="true"
          ></multiselect>
        </b-form-group>

        <b-form-group
          id="inputGroupL2"
          label="L2 Languages:"
          label-for="inputL2"
          description="Please select the languages you speak on an L2 level. These are the foreign languages you have learned or are learning. If you dont have any, leave this empty."
        >
          <multiselect
            id="inputL2"
            v-model="form.l2"
            :options="lang_opts"
            :multiple="true"
          ></multiselect>
        </b-form-group>

        <b-form-group
          id="inputGroupIPA"
          label="IPA Knowledge:"
          label-for="inputIPA"
          description="Required. Please state your familiarity with the International Phonetic Alphabet (IPA)."
        >
          <multiselect
            id="inputIPA"
            v-model="form.ipa"
            :searchable="false"
            :close-on-select="true"
            :show-labels="false"
            :options="ipa_opts"
          ></multiselect>
        </b-form-group>

        <b-form-group
          id="inputGroupNation"
          label="Nationality:"
          label-for="inputNation"
          description="Please select your nationalities. If you don't feel comfortable with giving us your nationalities, leave this empty."
        >
          <multiselect
            id="inputNation"
            v-model="form.nat"
            :options="nat_opts"
            :multiple="true"
          ></multiselect>
        </b-form-group>

        <b-form-group
          id="inputGroupGender"
          label="Gender:"
          label-for="inputGender"
          description="Please select your gender. If you don't feel comfortable with giving us your gender, leave this empty."
        >
          <multiselect
            id="inputGender"
            v-model="form.gender"
            :options="gender_opts"
            :multiple="false"
          ></multiselect>
        </b-form-group>
      </b-form>
    </div>

    <footer :class="$style.footerContainer">
      <div class="mx-auto w-75" :class="$style.footerWrapper">
        <b-alert variant="danger" dismissible v-model="showError">
          Required fields need to be filled. Please reconsider your input.
        </b-alert>

        <div :class="$style.footerActions">
          <b-button
            variant="outline-primary"
            :class="$style.button"
            @click="handleBack"
            >Back</b-button
          >
          <b-button
            type="reset"
            variant="danger"
            :class="$style.button"
            @click="handleReset"
            >Reset</b-button
          >

          <b-button
            type="submit"
            variant="primary"
            :class="$style.continueButton"
            @click="handleSubmit"
            >Continue</b-button
          >
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
import Vue from 'vue'
import Multiselect from 'vue-multiselect'
import languages from '../data/languages-en_US.json'
import countries from '../data/countries-en_US.json'

Vue.component('multiselect', Multiselect)

const initialState = {
  form: {
    userage: null,
    education: 'None',
    l1: ['English'],
    l2: null,
    nat: null,
    gender: null,
  },
  showError: false,
  showSuccess: false,
}

export default {
  name: 'profile',
  computed: {
    ageValid() {
      return this.form.userage > 0 && this.form.userage < 130
    },
    // eduValid() {
    //   return this.edu_opts.indexOf(this.form.education) >= 0;
    // },
    l1Valid() {
      return this.form.l1.length > 0
      // var lopts = this.lang_opts
      // return (
      //   this.form.l1.every(function(val) {
      //     return lopts.indexOf(val) >= 0
      //   }) && this.form.l1.length > 0
      // );
    },
    // l2Valid() {
    //   var lopts = this.lang_opts
    //   return this.form.l2.every(function(val) {
    //     return lopts.indexOf(val) >= 0
    //   });
    // },
    // natValid() {
    //   var nopts = this.nat_opts
    //   return (
    //     this.form.nat.every(function(val) {
    //       return nopts.indexOf(val) >= 0
    //     })
    //   );
    // },
    // genderValid() {
    //   return this.form.gender ? this.gender_opts.indexOf(this.form.gender) >= 0 : true;
    // },
    formValid() {
      return (
        this.ageValid &&
        // this.eduValid &&
        // this.genderValid &&
        this.l1Valid
        // this.l2Valid &&
        // this.natValid
      )
    },
  },

  data() {
    const {
      userage,
      education,
      l1,
      l2,
      ipa,
      nat,
      gender,
    } = this.$store.state.profile

    return {
      showSuccess: false,
      showError: false,

      form: {
        userage,
        education: education || 'None',
        l1: l1 || ['English'],
        l2,
        ipa: ipa || null,
        nat,
        gender,
      },

      lang_opts: Object.values(languages),
      nat_opts: Object.values(countries),
      ipa_opts: [
        'None - Never heard of it',
        'Little - Understood the concept',
        'Medium - Used it for translations',
        'Expert - Regularly work with it',
      ],
      gender_opts: ['Female', 'Male', 'Other'],
      edu_opts: ['Bachelor', 'Master', 'PhD', 'None'],
    }
  },

  methods: {
    handleSubmit(event) {
      if (event) {
        event.preventDefault()
      }

      if (this.formValid) {
        this.$store.commit('updateProfile', this.form)

        this.showError = false
        this.showSuccess = true

        this.$router.push('/poem')
      } else {
        this.showError = true
        this.showSuccess = false
      }
    },

    handleReset() {
      Object.assign(this, initialState)
    },

    handleBack() {
      this.$router.push('/')
    },
  },
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css" />

<style module>
.heading {
  margin: 50px 0 25px;
  font-size: 22px;
  line-height: 100%;
}

.footerContainer {
  position: sticky;
  left: 0;
  bottom: 0;

  width: 100%;
  box-sizing: border-box;
  margin-top: 50px;
  border-top: 1px solid rgb(230, 230, 230);
  padding: 0 10px;

  background: rgb(245, 245, 245);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.footerActions {
  display: flex;
  flex-flow: row;
}

.footerWrapper {
  display: flex;
  flex-flow: column;

  padding: 10px 0;
}

.button {
  margin-right: 10px;
}

.continueButton {
  align-self: flex-end;
  margin-left: auto;
}
</style>
