<template>
  <div>
    <router-link to="/">Introduction</router-link>
    <router-link to="/poem">Read Poem</router-link>
    <router-link to="/register">Register</router-link>
    <br />

    <p>username:</p>
    <input v-model="username" type="text" placeholder="username" />

    <p>password:</p>
    <input v-model="password" type="password" placeholder="password" />

    <p>repeat password:</p>
    <input v-model="password_rep" type="password" placeholder="password" />

    <br />
    <button v-on:click="register">register</button>
  </div>
</template>

<script>
export default {
  name: 'registration',

  data() {
    return {
      username: '',
      password: '',
      password_rep: '',
    }
  },

  methods: {
    register() {
      // check if username is unique
      if (this.password == this.password_rep) {
      }
      // check if password matches
    },
  },
}
</script>
