<template>
  <div :class="$style.container">
    <h3 :class="$style.heading">Welcome!</h3>

    <p>
      At the University of Leipzig's
      <a href="http://www.dh.uni-leipzig.de/wo/" target="_blank"
        >Digital Humanities chair</a
      >, led by Prof. Dr. Gregory Crane, we are currently conducting research in
      regard to transliteration support when learning the Persian language. This
      project is led by
      <a href="http://www.dh.uni-leipzig.de/wo/team/" target="_blank"
        >Maryam Foradi</a
      >.
    </p>

    <p>
      In the following, you'll be shown a poem by the ancient poet Hafez, both
      in written Persian (Farsi) and a Latin-based transliteration.
      Additionally, you may utilize a spoken audio version of each verse.
    </p>

    <p>
      Please utilize all media available (original Persian, transliteration,
      audio) to provide “corrections” to the transliterations that are
      highlighted. We provide you with several possibilities to choose from,
      while you also may submit your own.
    </p>

    <p>
      Next, we will ask you to provide us with some personal information of
      yours, especially in regard to your prior language knowledge.
    </p>

    <b-form @submit="handleSubmit">
      <div :class="$style.studyKey">
        <b-form-group
          id="formStudyKey"
          label="Study Key:"
          label-for="studyKey"
          description="Please enter a study key if provided by your supervisor."
        >
          <b-form-input
            id="studyKey"
            ref="studyKey"
            v-model="studyKey"
          ></b-form-input>
        </b-form-group>
      </div>

      <div class="d-flex flex-row-reverse mt-5">
        <b-button type="submit" variant="primary" @click="handleSubmit"
          >Continue</b-button
        >
      </div></b-form
    >
  </div>
</template>

<script>
export default {
  name: 'start',

  data() {
    return {
      studyKey:
        this.$store.state.studyKey || process.env.NODE_ENV === 'development'
          ? 'testing'
          : null,
    }
  },

  mounted() {
    this.$refs.studyKey.focus()
  },

  methods: {
    handleSubmit() {
      this.$store.commit('setStudyKey', this.studyKey || null)
      this.$router.push('/profile')
    },
  },
}
</script>

<style module>
.container {
  width: 600px;
  margin: 25px auto;
  justify-self: center;
}

.heading {
  margin: 50px 0 25px;
  font-size: 22px;
  line-height: 100%;
}

.studyKey {
  margin: 35px 0;
}
</style>
