<template>
  <div :class="$style.container">
    <h3 :class="$style.heading">Thank you!</h3>
    <p>
      Your data has been successfully submitted.
    </p>
    <p>
      We thank you very much for taking your time for this preliminary study.
      Please Click the link below to launch a new session with a new
      participant.
    </p>

    <div class="d-flex flex-row-reverse mt-5">
      <b-button variant="primary" @click="handleRestart">New Session</b-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'thank-you',

  methods: {
    handleRestart() {
      this.$router.push('/')
    },
  },
}
</script>

<style module>
.container {
  width: 600px;
  margin: 25px auto;
  justify-self: center;
}

.heading {
  margin: 50px 0 25px;
  font-size: 22px;
  line-height: 100%;
}
</style>
