<template>
  <div :class="$style.line">
    <modal :displayed="modalDisplayed" @hide="handleHideModal">
      <correction
        v-if="currentCorrection > -1"
        :item="verse.words[currentCorrection]"
        :verse-id="verse.id"
        @close="handleHideModal"
        @listen="handleListen"
      />
    </modal>

    <div :class="$style.listenColumn">
      <a href="#" @click="handleListen" :class="$style.listenHandler">{{
        verse.id
      }}</a>
    </div>
    <div :class="$style.farsi">
      <span
        v-for="(item, index) in verse.words"
        :class="{
          [$style.word]: true,
          [$style.active]: index === currentWord && isCurrentVerse,
          [$style.multi]:
            Array.isArray(item.translit) && item.translit.length > 1,
          [$style.saved]: savedTransliteration(index, item.word),
        }"
        @click="event => handleDisplayModal(event, index)"
        >{{ item.word }}</span
      >
    </div>
    <div :class="$style.verse">
      <span
        v-for="(item, index) in verse.words"
        :class="{
          [$style.word]: true,
          [$style.active]: index === currentWord && isCurrentVerse,
          [$style.multi]:
            Array.isArray(item.translit) && item.translit.length > 1,
          [$style.saved]: savedTransliteration(index, item.word),
        }"
        @click="event => handleDisplayModal(event, index)"
        >{{
          Array.isArray(item.translit) ? item.translit[0] : item.translit
        }}</span
      >
    </div>
  </div>
</template>

<script>
import Correction from './Correction.vue'
import Modal from './Modal.vue'

export default {
  name: 'verse-item',
  props: ['verse', 'isCurrentVerse', 'currentWord'],
  components: { Correction, Modal },

  data: () => ({
    currentCorrection: -1,
    modalDisplayed: false,
  }),

  methods: {
    handleHideModal(event) {
      if (event) {
        event.preventDefault()
      }

      this.modalDisplayed = false
    },

    handleDisplayModal(event, index) {
      event.preventDefault()

      const translit = this.verse.words[index].translit
      if (!Array.isArray(translit) || translit.length < 2) {
        return
      }

      if (this.currentCorrection === -1 || index !== this.currentCorrection) {
        this.currentCorrection = index
        this.modalDisplayed = true
      } else {
        this.currentCorrection = -1
      }
    },

    handleListen(event) {
      event.preventDefault()

      this.$emit('listen', this.verse.id)
    },

    savedTransliteration(index, word) {
      return (
        this.$store.state.transliterations.findIndex(
          translit =>
            translit.verseId === this.verse.id && translit.word === word
        ) > -1
      )
    },
  },
}
</script>

<style module>
.line {
  display: flex;
  flex-direction: row;

  width: 100%;
  margin: 15px 0 0;
}

.listenColumn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  padding: 15px 5px;

  text-align: right;
}

.listenHandler {
  font: 14px/100% Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
  color: rgb(150, 150, 150);
}

.verse {
  width: 550px;
  padding: 15px 5px;
}

.farsi {
  composes: verse;

  width: 450px;

  direction: rtl;
  text-align: right;
  font-family: 'Samim', sans-serif;
  font-size: 20px;

  cursor: default;
}

.word {
  position: relative;
  display: inline-block;
  padding: 3px;
}

.persian > .word {
}

.word:last-child {
  margin: 0;
}

.active {
  color: red;
}

.multi {
  position: relative;
  cursor: pointer;
}

.multi:hover {
  border-radius: 3px;
  background: rgb(240, 240, 240);
}

.multi:after {
  content: '●';
  position: absolute;
  top: -10px;
  left: 0px;

  width: 100%;
  height: 10px;

  font-size: 8px;
  line-height: 10px;
  text-align: center;

  color: rgb(100, 100, 200);
  cursor: default;
}

.saved.multi:after {
  color: #0cf934;
}

.farsi .multi:after {
  font-size: 14px;
}
</style>
