<template>
  <div id="app">
    <transition name="fade">
      <div :class="$style.container" v-if="loaded">
        <header-bar />
        <router-view />
      </div>
    </transition>

    <transition name="fade">
      <div
        v-if="loadingDelayed && !loaded && !error"
        :class="$style.loadingContainer"
      >
        <div :class="$style.loadingWrapper">
          <em :class="$style.label"
            >Loading <img src="./icons/spinner.svg" :class="$style.icon"
          /></em>
        </div></div
    ></transition>

    <div v-if="error" class="w-75 mx-auto my-5">
      <b-alert show variant="danger">
        An error occurred: <strong>{{ error.message }}</strong
        ><br />
        Please see the console log for more details.
      </b-alert>
    </div>
  </div>
</template>

<script>
import HeaderBar from './components/HeaderBar.vue'
import { initializeAudio } from './audio'
import { initializeDatabase } from './database'
import { initializeMorphology } from './morphology'
import verses from './data/verses'

export default {
  name: 'app',
  components: { HeaderBar },

  data: function() {
    return {
      loadingDelayed: false,
      delayTimeout: null,

      loaded: false,
      error: null,
    }
  },

  beforeCreate() {
    this.$store.commit('initializeStore')
  },

  async mounted() {
    Object.assign(this, {
      loadingDelayed: false,
      loaded: false,
      error: null,
    })

    this.delayTimeout = window.setTimeout(() => {
      this.loadingDelayed = true
    }, 1500)

    try {
      await Promise.all([
        initializeMorphology(),
        initializeAudio(verses),
        initializeDatabase(
          process.env.COUCHDB_URL,
          process.env.COUCHDB_DATABASE
        ),
      ])

      this.loaded = true
    } catch (err) {
      console.error(err)
      this.error = err
    } finally {
      window.clearTimeout(this.delayTimeout)
    }
  },

  beforeDestroy() {
    if (this.delayTimeout) {
      window.clearTimeout(this.delayTimeout)
    }
  },
}
</script>

<style>
html,
body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;

  font-family: 'Inter', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #2c3e50;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.125s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>

<style module>
.container {
  width: 100%;
  height: 100%;
}

.loadingContainer {
  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background: rgba(255, 255, 255, 0.5);
}

.loadingWrapper {
  box-sizing: border-box;
  border-radius: 10px;
  padding: 50px;

  background: rgb(240, 240, 240);
}

.label {
  margin: 0;

  font-size: 24px;
  font-weight: 500;
  font-style: normal;

  cursor: default;
  color: rgb(50, 50, 50);
}

.icon {
  display: inline-block;
  height: 24px;
  width: auto;
}
</style>
